body {
  font-family: "Open Sans", sans-serif; }

h1, h2, h3 {
  font-family: "Lobster", cursive; }

h2 {
  color: #3046C5; }

header h2 {
  color: #CEC8FF; }

.site-footer {
  background-image: linear-gradient(#d3cee9, rgb(134, 120, 93));
  padding: 20px 0px; }

.jumbotron {
  margin: 0;
  padding: 30px;
  background-image: linear-gradient(to right, rgb(64, 28, 224), rgb(68, 77, 128), rgb(51, 13, 56));
  color: white; }

.row-content {
  padding: 50px 0;
  border-bottom: 1px ridge;
  min-height: 200px; }

.navbar {
  background-color: red; }

.tab-content {
  border: 1px solid #DDD;
  border-top: none;
  padding: 10px; }

.carousel-caption {
  background-color: rgba(0, 0, 0, 0.5); }

.carousel {
  border: solid #5637DD; }

#carouselButton {
  position: absolute;
  right: 0;
  bottom: 0; }
